.estilizacao p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(114, 114, 114);
    
}

.estilizacao h4{
    font-family: 'Roboto', sans-serif;
}